<h2>Orders</h2>
<ng-container *ngIf="orders$ | async as orders">
  <div *ngIf='orders.length > 0; then haveOrders; else noOrders;'></div>

  <ng-template #haveOrders>
    <div class="card" *ngFor="let o of orders" style="font-size:15px;">
      <h5 class="card-header">Date : {{ o.datePlaced | date: 'mediumDate' }}</h5>
      <div class="card-body">
        <p class="card-title">Name : {{ o.shipping.name }}</p>
        <p class="card-text">
          Address : {{ o.shipping.addressLine1 }}, {{ o.shipping.addressLine2 }}, {{ o.shipping.city}}
        </p>
        Items :
        <ul class="list-group list-group-flush">
          <li *ngFor="let item of o.items;" class="list-group-item">
            {{ item.quantity }} x {{ item.product.title }}
            <div class="float-right">
              {{ item.totalPrice | currency:'INR' }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #noOrders>
    <p>
      No Orders yet. Click <a routerLink="/">here</a> to continue shopping.
    </p>
  </ng-template>
</ng-container>